@import "../variables.less";


.example {
  background-color: #f2f2f2;
}

.example__wraper-container {
  width: 88%;
  margin: 0 auto;
}

.example__title {
  .caption;
  padding-bottom: 20px;
  padding-top: 20px;
}

.example__result-list {
  display: flex;
  justify-content: space-around;

  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 38px;
}

.example__result-item {
  position: relative;

  &:first-child {
  }
}

.example__result-text,
.example__result-number {
  margin: 0;
  text-align: center;
}

.example__result-number{
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  width: 124px;
  padding: 16px 0;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.example__result-text {
  font-size: 12px;
  line-height: 12px;
  font-family: Arial,sans-serif;

  position: absolute;
  bottom: -12px;
  right: 18px;
  left: 18px;

  padding: 0 16px;

  background: #f2f2f2;
}

.example__price {
  text-align: center;
  text-transform: uppercase;

  line-height: 20px;
  margin: 0;
  padding-bottom: 35px;
}

.example__text {
  color: @color-page;
  font-family: Arial, sans-serif;

  margin: 0;
  padding-bottom: 25px;
}

.example__wrap {
  display: flex;
  flex-direction: column;
}

.example__compare-first {
  max-width: 100%;
  max-height: 100%;
  position: relative;

  margin-left: auto;
  margin-right: auto;
}

.example__change {
  text-align: center;

}

.comparison-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.comparison-item__content {
  height: 240px;
  overflow: hidden;
  position: relative;
}

.comparison-item--first {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.example__change-cat {
  position: absolute;
  left: 0;
  top: 0;

  width: 320px;
  max-width: none;
}

.example__cat-after {
  display: block;
  max-width: 100%;
}

.example__before,
.example__now{
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.example__compare-second {
 padding: 25px 0;
}

.example__before {
  padding-right: 10px;
}

.example__now {
  padding-left: 10px;
}

.example__range {
  -webkit-appearance: none;
  width: 100%;
}

.example__range:focus {
  outline: none;
}

.example__range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.example__range {
  width: 50%;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.example__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #5eaa2f;
  cursor: pointer;
  margin-top: -13px;

  box-shadow: inset 0 0 0 12px #ffffff;

  &:hover,
  &:active {
    box-shadow: inset 0 0 0 12px #ffffff,
    0 3px 12px 0 rgba(0, 0, 0, 0.25);
  }
}

.example__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: #dcdcdc;
}

.example__range::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: #dcdcdc;
}

input[type=range]::-ms-track {
  cursor: pointer;
  border-color: transparent;
  color: transparent;
  width: 100%;
  height: 12px;
  background: #dcdcdc;
}


.example__range::-moz-range-thumb{
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #5eaa2f;
  cursor: pointer;
  margin-top: -13px;

  box-shadow: inset 0 0 0 12px #ffffff;

  &:hover,
  &:active {
    box-shadow: inset 0 0 0 12px #ffffff,
    0 3px 12px 0 rgba(0, 0, 0, 0.25);
  }
}

.example__range::-ms-thumb {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #5eaa2f;
  cursor: pointer;

  box-shadow: inset 0 0 0 12px #ffffff;

  &:hover,
  &:active {
    box-shadow: inset 0 0 0 12px #ffffff,
    0 3px 12px 0 rgba(0, 0, 0, 0.25);
  }
}

.example__range::-ms-fill-lower,
.example__range::-ms-fill-upper {
  background: transparent;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: transparent;
  }

  .example__wraper-container {
    width: 100%;
  }

  .example__column {
    width: 92%;
    margin: 0 auto;
    max-width: 1220px;
  }

  .example__title {
    font-size: 60px;

    padding-top: 35px;
    padding-bottom: 40px;
  }

  .example__text {
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 250px;
  }

  .example__result-list {
    padding: 0;
  }

  .example__result-item {
    margin-right: 40px;
    width: 100%;
  }

  .example__result-number {
    width: 160px;
  }

  .example__result-text {
    background: #ffffff;
    padding: 0 8px;
    bottom: -5px;
  }

  .example__price {
    font-size: 20px;
    line-height: 20px;

    width: 190px;
    text-align: right;
    padding: 0;
  }

  .example__wrap {
    width: 92%;
    margin: 0 auto;
    max-width: 1220px;
  }

  .example__change {
    background-color: #f2f2f2;
  }

  .example__change-cat {
    width: 690px;
  }

  .example__compare-first {
    margin-top: -160px;
  }

  .example__before,
  .example__now{
    font-size: 20px;
  }

  .example__before {
    padding-right: 20px;
  }

  .example__now {
    padding-left: 20px;
  }

  .comparison-item__content {
    height: 510px;
  }

  .example__range {
    width: 65%;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-color: #f2f2f2;
  }

  .example__wraper-container{
    display: flex;

    width: 84%;
    max-width: 1600px;
  }

  .example__column {
    margin-top: -145px;
    width: 50%;
  }

  .example__title {
    padding-top: 20px;
    padding-bottom: 45px;
  }

  .example__text {
    padding-top: 60px;
    padding-right: 150px;
  }

  .example__container {
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 0;
  }

  .example__result-list {
    margin-bottom: 60px;
  }

  .example__price {
    width: 355px;
    text-align: left;
  }

  .example__price span {
    padding-left: 60px;
  }

  .example__result-text {
    background: #f2f2f2;
  }

  .example__change {

    padding-bottom: 65px;
  }

  .example__wrap {
    width: 560px;
    flex-shrink: 1;
    flex-grow: 0;
  }

  .example__change-cat {
    width: 590px;
  }

  .example__compare-first {
    margin-top: -160px;
  }

  .comparison-item__content {
    height: 485px;
  }

}