@background-color: #ffffff;

@font-size: 14px;
@line-height: 18px;
@color-page: #444444;
@color-caption: #000;
@font-family: 'Oswald', sans-serif;
@tablet-width: 768px;
@desktop-width: 1280px;
@mobile-width-only: 767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@font-face {
  font-family: 'Oswald', sans-serif;;
  src: url('../fonts/oswaldregular.woff2') format('woff2'),
  url('../fonts/oswaldregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
};

@font-face {
  font-family: 'Oswald', sans-serif;;
  src: url('../fonts/oswaldmedium.woff2') format('woff2'),
  url('../fonts/oswaldmedium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
};


.caption () {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
}

.sm-caption (){
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}